* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(219, 219, 219);
}
button:hover {
  cursor: pointer;
}
/* -------------------------------------Navbar-------------------------- */
.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(175, 174, 174);
  background-color: white;
  position: fixed;
  top: 0px;
  z-index: 1;
}
.sub_navbar {
  width: 95%;
  height: 60px;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.icon_heading {
  display: flex;
}
.estate {
  font-size: 30px;
  margin-left: 0.2rem;
}
.fa-house-chimney {
  font-size: 2rem;
  color: rgb(209, 117, 248);
}
.sub_heading {
  margin-right: 20rem;
  display: flex;
}

li select {
  width: 100%;
  border: white;
  cursor: pointer;
}

.login_signup {
  display: flex;
  justify-content: space-between;
}
.login_signup > button {
  margin-left: 1.5rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 10%;
}
.singup {
  color: white;
  background-color: rgb(209, 117, 248);
}
li {
  border-radius: 5px;
  margin: 0px 15px;
  padding: 0.5rem 0.8rem;
  padding-bottom: 5px;
  list-style-type: none;
  cursor: pointer;
}

.favorites {
  color: black;
  padding: 0rem 0.8rem;
}
Link {
  text-decoration: none;
}

/* --------------------------------------------Filter Navbar---------------------------- */
.mainfilter_container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.filtersub_container {
  width: 80%;
  margin-top: 7rem;
}
.search_container {
  margin: 2rem 0rem;
  display: flex;
  justify-content: space-between;
}

.filter_container {
  background-color: white;

  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter_container > div {
  /* border: 2px solid black; */
  width: 10%;
}

.location select {
  width: 100%;
  border: white;
  color: black;
  font-weight: bold;
}
.price select {
  width: 100%;
  border: white;
  color: black;
  font-weight: bold;
}
.propertytype select {
  width: 100%;
  border: white;
  color: black;
  font-weight: bold;
}

.filter_container > div > input {
  border: none;
}

.searchButton {
  background-color: rgb(209, 117, 248);
  padding: 0.8rem 2rem;
  color: white;
  border: none;
  border-radius: 5px;
}

/* --------------------------------Data container------------------------- */
.data_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.subdata_container {
  width: 80%;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 5rem;
  row-gap: 2rem;
}
.search_container > input {
  border: 2px solid black;
  width: 300px;
  border-radius: 5px;
}

img {
  object-fit: cover;
  height: 250px;
  width: 350px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.price_icon {
  display: flex;
  justify-content: space-between;
}
.heart {
  font-size: 1.2rem;
  padding: 0.3rem;
}
.price_icon > button {
  border-radius: 50%;
  background-color: white;
}
.price_icon > button:active {
  background-color: rgb(209, 117, 248);
}
a.favorites {
  text-decoration: none;
}

.bhk {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

#house_box {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  width: 350px;
}
.details_container {
  padding: 1rem 1rem;
}
